@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

s mark {  
    text-decoration-line: line-through;
    text-decoration-color: inherit;
}
nav, nav a, mark, s mark, mark a {
    background: #ffd54f;
    color: #000a12;
}
h1 {
    font-weight: 900;
    font-size: 3.0rem;
}

:root {
>   --nc-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
>   --nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
>   --nc-tx-1: #000000;
>   --nc-tx-2: #1A1A1A;
>   --nc-bg-1: #FFFFFF;
>   --nc-bg-2: #F6F8FA;
>   --nc-bg-3: #E5E7EB;
>   --nc-lk-1: #0070F3;
>   --nc-lk-2: #0366D6;
>   --nc-lk-tx: #FFFFFF;
>   --nc-ac-1: #79FFE1;
    --nc-ac-tx: #0C4047;
}

@media (prefers-color-scheme: dark) {
    :root {
        --nc-bg-1: #121212;
        /*
        --nc-bg-1: #2e3440;
        --nc-tx-2: #d8dee9;
        */
    }
    /*
    p { background-color: var(--nc-bg-3) }
    */
}
/*  Legend
 *
    --nc-font-sans: Font for all text besides code or preformatted
    --nc-font-mono: Font for <code>, <pre>, <kbd>, <samp>
    --nc-tx-1: Heading text color
    --nc-tx-2: Body text color
    --nc-bg-1: Base background color
    --nc-bg-2: Slightly darker background color
    --nc-bg-3: Even slightly darker background color
    --nc-lk-1: Action color for links and buttons
    --nc-lk-2: Link and buttons on mouse hover and active
    --nc-lk-tx: Text color for link buttons, or cases where link color is used as a background
    --nc-ac-1: Accent background color for <mark> and text selection background
    --nc-ac-tx: Text color when accent is used as a background
*/
