@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}
body, header {
    background: var(--nc-bg-3);
    padding: 0;
    line-height: 1.5;
}
header {
    margin-top: 0rem;
    margin-bottom: 0rem;
}
header img {
    height: 70px;
    margin: 0;
}
article {
    margin: 1.6rem;
    margin-top: 0;
    border-radius: 10px;
    padding: 1.4rem;
    background: var(--nc-bg-1);
}
footer, footer a, footer h2 {
    color: var(--nc-bg-1);
    background: var(--nc-lk-1);
    font-size: 0.8rem;
}
footer {
    padding: 2rem;
}
aside{
    margin-top: 1rem;
    margin-bottom: 0; 
    opacity: 0.5;
}
div.success{
    font-weight: 500;
    margin: 0 0.4rem;
    font-size: 0.8rem;
    line-height: 1.2;
    padding: 1.0rem;
    border-radius: 10px;
    background: var(--rv-bg-s);
    color: var(--rv-tx-s);
}
input {
    height: 2.4rem;
    background: var(--nc-bg-3);
    width: 100%;
    border-color: var(--nc-bg-1);
    border-width: 0px;
    margin: 2px 10px 2px 0px;
}
input:disabled {
    color: var(--rv-ds-i);
}
button {
    flex: 0 0 7rem;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 0.9rem;
    margin: 8px 4px;
    margin: 0px 4px;
}
button span.loading {
    font-size: 1.2rem;
}
button:focus {
    background: var(--nc-lk-1);
}
button:disabled{
    opacity: 1.0;
}
button:disabled:hover{
    background: var(--nc-lk-1);
}
small {
    font-size: 0.8rem;
}
small a {
    color: var(--nc-tx-2);
}
small a:hover {
    color: var(--nc-tx-2);
}
a {
    color: var(--nc-tx-1);
    text-decoration-color: var(--nc-lk-1);
}
a.angle {
    text-decoration: none;
}
a.angle::after {
    content: " →";
}
em strong{
    color: var(--nc-tx-1);
    font-weight: 900;
    font-style: italic;
}
em strong.dark{
    color: var(--nc-bg-1);
}
s {
    opacity: 0.5;
}
s mark {  
    text-decoration-line: line-through;
    text-decoration-color: inherit;
}
nav, nav a, mark, s mark, mark a {
    background: var(--rv-bg-m);
    color:      var(--rv-tx-m);
}
h1,h2,h3,h4,h5 {
    font-weight: 900;
}
h1 {
    font-size: 3.0rem;
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

:root {
>   --nc-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
>   --nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;
}

@media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
    :root {
        /* 
        https://coolors.co/1d2738
        https://coolors.co/gradient-palette/c3cee0-1d2738?number=8
        * cool palette
        https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51
        */

        --nc-bg-1: #1B2639; /* Dark-light color */
        --nc-bg-2: #1B2639;
        --nc-bg-3: #161F2E; /* Darkest color */
        --nc-tx-1: #E8ECF5; /* Heading text */
        --nc-tx-2: #C3CEE0; /* Body text */
        --nc-lk-1: #FF0086; /* Action color links and buttons */
        --nc-ac-tx:#161F2E; /* Text color when accent is used as a background */
        --nc-ac-1: #E6C268; /* text selection background */

        --rv-ds-i: #3D5376; /* Disabled input */
        --rv-bg-s: #0dc5cc; /* Background success */
        --rv-tx-s: #076467; /* Text success */
        --rv-tx-s: #05474A; /* Text success */
        --rv-tx-m: #000a12; /* Mark text */
        --rv-bg-m: #ffd54f; /* Mark background */

    }
    /*
    p { background-color: var(--nc-bg-3) }
    */
}
/*  Legend
 *
    --nc-font-sans: Font for all text besides code or preformatted
    --nc-font-mono: Font for <code>, <pre>, <kbd>, <samp>
    --nc-tx-1: Heading text color
    --nc-tx-2: Body text color
    --nc-bg-1: Base background color
    --nc-bg-2: Slightly darker background color
    --nc-bg-3: Even slightly darker background color
    --nc-lk-1: Action color for links and buttons
    --nc-lk-2: Link and buttons on mouse hover and active
    --nc-lk-tx: Text color for link buttons, or cases where link color is used as a background
    --nc-ac-1: Accent background color for <mark> and text selection background
    --nc-ac-tx: Text color when accent is used as a background
*/

[x-cloak] {
    display: none !important;
}

@media screen and (min-width: 800px) {
header img {
    height: 150px;
}
