<!doctype html>

<html lang="it">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include "seo.html" %}
  <link rel="stylesheet" href="/new.css?v={version}">
  <link rel="stylesheet" href="/styles.css?v={version}">
</head>

<body>

    {#
    <nav>
        {% for item in menu %}
            <a class="" href="{{item.url}}">
                {{ item.name }}
            </a>
        {% endfor %}
    </nav>
    #}

    <div style="margin-top: 10rem;"></div>

    <main>
    {{content | safe }}
    </main>

    {#<script src="js/scripts.js"></script>#}
</body>
</html>
