<!DOCTYPE html>
<html lang="it">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include "seo.html" %}
  <link rel="stylesheet" href="/new.css?v={version}">
  <link rel="stylesheet" href="/styles.css?v={version}">
  <link rel="stylesheet" href="https://maxbeier.github.io/text-spinners/spinners.css">
</head>

<body>

    {% block navbar %}
        {% if false %}
            {% include 'offside.html' %}
        {% endif %}
    {% endblock %}

    <header>
        header
    </header>

    <main>
        {{content | safe }}
    </main>

    <footer>
        <menu>
            <h2> Stuff </h2>
            {% for item in menu %}
                <li><a href="{{item.url}}">{{item.name}}</a></li>
            {% endfor %}
        </menu>
        <footer>

<script src="//unpkg.com/alpinejs" defer></script>
</body>
