---
---
<!DOCTYPE html>
<html lang="it">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include "seo.html" %}
  <link rel="stylesheet" href="/new.css?v={version}">
  <link rel="stylesheet" href="/styles.css?v={version}">
  <link rel="stylesheet" href="/offside.css">
  <script src="/offside.min.js"></script>
</head>

<body>

    <button style="" type="button" id="my-button">open</button>
    <header>
        <nav>
            {% for item in menu %}
                <a class="" href="{{item.url}}">
                    {{ item.name }}
                </a>
            {% endfor %}
        </nav>
    </header>

    <main>
        {{content | safe }}
    </main>

  <script>

      //Offside.js minimal setup
      var myOffside = offside( 'nav', {
                slidingElementsSelector:'main',
                buttonsSelector: '#my-button, .menu-button',
                slidingSide: 'right',
                init: function(){},           // Function: After init callback
                beforeOpen: function(){},     // Function: Before open callback
                afterOpen: function(){},      // Function: After open callback
                beforeClose: function(){},    // Function: Before close callback
                afterClose: function(){},     // Function: After close callback
            });
  </script>
</body>
