{
    "from":       "{{from | safe }}",
    "subject":    "{{subject | safe }}",
    "htmlContent": {{content | dump | safe | replace("\\n", "")}},
    "textContent": {{content | dump | safe | striptags() }}
}
