<meta name="description" content="{{seo.description}}">
<meta name="author" content="{{seo.author}}">

{# OPEN GRAPH STUFF
<meta property="og:title" content="{{title}}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
<meta property="og:description" content="A simple HTML5 Template for new projects.">
<meta property="og:image" content="image.png">
#}

{# FAVICON
<link rel="icon" href="/favicon.ico">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
#}
