---
title: Newsletter
---

<h3>Archivio</h3>
<ul>
	{%- for post in collections.newsletter | reverse -%}
		{% if not post.data.futureDate %}
		<li><a href="{{post.url}}">{{ post.data.title}}</a></li>
		{% endif %}
	{%- endfor -%}
</ul>

