---
permalink: "../functions/newsletter-content.json"
layout: ""
eleventyExcludeFromCollections: true
---
{% set ii = collections.newsletter | last %}
{
    "date": "{{ii.date.toISOString().substring(0,10)}}",
    "subject": "{{ii.data.title}}",
    "content": {{ii.templateContent | dump | safe | replace("\\n", "")}}
}
