---
permalink: "../functions/send-newsletter-content.json"
layout: ""
eleventyExcludeFromCollections: true
---
{
{% for ii in collections.newsletter %}
    "date": "{{ii.date.toISOString().substring(0,10)}}",
    "title": "{{ii.data.title}}",
    "content": {{ii.templateContent | dump | safe | replace("\\n", "")}}
{% endfor %}
}
